dj-database-url
django-cors-headers
django-extensions
django-jsonfield
django>=1.11,<1.12
djangorestframework
drf-writable-nested
flake8
gunicorn
jsonpickle
oauth2client
pillow
pip-tools
psycopg2
pytest-django
raven
requests>=2.12,<3.0
social-auth-app-django
whitenoise
