dj-database-url
django-cors-headers
django-extensions
django-jsonfield
django>=1.10,<1.11
djangorestframework
flake8
gunicorn
jsonpickle
oauth2client
pillow
pip-tools
psycopg2
pytest-django
requests>=2.12,<3.0
whitenoise
