{% extends "base.html" %}
{% block head %}
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: "{{ app_id }}",
            xfbml: true,
            version: "v2.6"
        });

    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

</script>
{% endblock %}
{% block body %}
<nav class="navbar navbar-light">
    <header class="container" style="text-align: center;">
        <div class="hdo-logo" style="margin-bottom: 2rem;">Holder de ord</div>
        <h1>Quiz</h1>
        <p>Hvor godt kjenner du partiene? Prøv deg på vår quiz om norsk politikk.<br>Spørmål og svar er hentet fra Holder de ord sine tjenester.<br>Trykk på <strong>Message us</strong> for å starte quizen.</p>
    </header>
    <div class="container" style="text-align: center;">
        <div class="fb-messengermessageus"
             messenger_app_id="{{ app_id }}"
             page_id="{{ page_id }}"
             color="blue"
             size="xlarge">
        </div>
        <p style="margin-top: 1.5rem;"><a href="/personvern/">Les våre personvernregler</a></p>
{#        <p>#}
{#            Alle løftene er hentet fra vår tjeneste Løftebasen som inneholder alle partiprogram.<br>#}
{#            Løftene i quizen er tatt fra partiprogrammene som gjelder for de neste fire årene.#}
{#        </p>#}
        {% if user.is_superuser %}
        <h3 style="margin-top: 2rem;">Botprofil</h3>
        <form action="{% url "messenger:bot-profile-update" %}" method="post">{% csrf_token %}
        <button type="submit" class="btn btn-secondary">Oppdatér botens profil</button>
        </form>
        <h3>Developer links</h3>
        <a href="https://developers.facebook.com/apps/{{ app_id }}">App developer dashboard</a>
        {% endif %}
    </div>
</nav>
{% endblock %}