{% extends "base.html" %}
{% block body %}
    <style>
        td {
            vertical-align: top;
        }
    </style>
    <div class="container">
        <div class="col-sm-12" style="margin-top: 1.5rem;">
            <h3>Ditt resultat</h3>
            <!-- TODO -->...
            <h3>Dine svar</h3>
            <table class="table table-striped">
            <tr>
                <th>Tema</th>
                <th>Spørsmål</th>
                <th>Ditt svar</th>
                <th>Basert på løfter</th>
            </tr>
            {% for ans in answer_set.voter_guide_answers.all %}
            {% with ans.voter_guide_alternative as alt %}
                <tr>
                    <td>{{ alt.manuscript.hdo_category }}</td>
                    <td>{{ alt.manuscript.name }}</td>
                    <td>{{ alt }}</td>
                    <td>
                        <ul>
                            {% for p in alt.promises.all %}
                                <li><strong>{{ p.promisor_name }}</strong>: {{ p.body }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endwith %}
            {% endfor %}
            </table>
        </div>

{% endblock %}