{% extends "base.html" %}
{% load static quiz_extras %}
{% block head %}
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: "{{ app_id }}",
            xfbml: true,
            version: "v2.6"
        });

    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

</script>
{% endblock %}

{% block title %}Holder de ord{% endblock %}
{% block body %}
<div class="container">
    <header>
        <div class="hdo-logo hdo-logo-header">Holder de ord</div>
    </header>
    <div>
        <div class="answers-overview hdo-card">
            <div class="hdo-card-header text-xs-center">
                <h3>Ditt svar</h3>
            </div>
            <div class="hdo-card-content">
                <p>test {{ answer }} {{ manuscript }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}