{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Holder de ord{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://files.holderdeord.no/dev/hdo-bootstrap/hdo-bootstrap.css">
    <link rel="stylesheet" href="{% static "quiz/css/main.css" %}">

    {% block headmeta %}
    <meta property="og:title" content="Holder de ord: Quiz" />
    <meta property="og:description" content="Prøv deg på vår quiz om Venstre, Høyre og Fremskrittspartiet" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Holder de ord: Quiz" />
    <meta property="og:url" content="{{request.build_absolute_uri }}" />
    <meta property="og:image" content="{% static "quiz/images/face.jpg" %}" />

    <meta content="@holderdeord" name="twitter:site">
    <meta content="@holderdeord" name="twitter:creator">

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="{{request.build_absolute_uri }}" />
    <meta property="twitter:title" content="Holder de ord: Quiz" />
    <meta property="twitter:image" content="{% static "quiz/images/face.jpg" %}" />
    <meta property="twitter:description" content="Prøv deg på vår quiz om Venstre, Høyre og Fremskrittspartiet"/>
    {% endblock %}

    {% block head %}{% endblock %}

</head>
<body>
{% block body %}{% endblock %}
{% include "footer.html" %}
<script src="{% static "quiz/dist/bundle.js" %}"></script>
</body>
</html>