{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Holder de ord{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://files.holderdeord.no/dev/hdo-bootstrap/hdo-bootstrap.css">
    <link rel="stylesheet" href="{% static "quiz/css/main.css" %}">

    {% block headmeta %}
    <meta property="og:title" content="Holder de ord: Quiz" />
    <meta property="og:description" content="Hvor godt kjenner du partiene? Kan du gjette hvilket parti som har lovet hva?" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Holder de ord: Quiz" />
    <meta property="og:url" content="{{request.build_absolute_uri }}" />
    <meta property="og:image" content="https://data.holderdeord.no/assets/og_logo-8b1cb2e26b510ee498ed698c4e9992df.png" />

    <meta property="fb:app_id" content="933904826743627" />

    <meta content="@holderdeord" name="twitter:site">
    <meta content="@holderdeord" name="twitter:creator">

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="{{request.build_absolute_uri }}" />
    <meta property="twitter:title" content="Holder de ord: Quiz" />
    <meta property="twitter:image" content="https://data.holderdeord.no/assets/og_logo-8b1cb2e26b510ee498ed698c4e9992df.png" />
    <meta property="twitter:description" content="Hvor godt kjenner du partiene? Kan du gjette hvilket parti som har lovet hva?"/>
    {% endblock %}

    {% block head %}{% endblock %}

</head>
<body>
{% block body %}{% endblock %}
{% include "footer.html" %}
<script src="{% static "quiz/dist/bundle.js" %}"></script>
</body>
</html>