<footer class="container">
    <div id="react-root"></div>
    <div>
        <div class="hdo-logo"></div>
        <h4>Holder de ord © 2017</h4>
        <small>
            <div>Kildekode på <a href="https://github.com/holderdeord/hdo-bot-service">GitHub</a> lisensiert
                under <a href="http://opensource.org/licenses/BSD-3-Clause">BSD</a>.
            </div>
            <p>Spørsmål? Ta <a href="mailto:kontakt@holderdeord.no">kontakt</a>.</p>
        </small>
        <div class="links"><a href="https://www.holderdeord.no/portal">holderdeord.no</a><span>·</span><a
                href="https://twitter.com/holderdeord">@holderdeord</a></div>
    </div>
</footer>