.flatpage {

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ol,
  ul {
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 0.15em;
  }

  p {
    margin-bottom: 1em;
  }

  img {
    max-width: 100%;
  }
}